<!DOCTYPE html>
<html lang="en">

<!-- preconnect to google fonts for faster loading -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- importing the montserrat font with multiple weight and style options -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">


<head>
    <!-- importing bootstrap css for styling -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMCS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMCS.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- logo and brand link redirecting to the home page -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/documenticon.png" alt="CMCS Logo"
                         style="height: 30px; width: auto; margin-right: 10px;" />CMCS
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- link for authenticated users to submit a claim -->
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Claims" asp-action="Claims">
                                    Submit a claim
                                </a>
                            </li>
                            <!-- link to view claim history -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Claims" asp-action="ViewHistory">
                                    View Claim History
                                </a>
                            </li>
                        }
                        <!-- admin-only link to view list of claims -->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="List">
                                    List of Claims
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="Lecturers">
                                    Report of Claims
                                </a>
                            </li>
                        }
                        <!-- login link for unauthenticated users -->
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                                    Submit a claim
                                </a>
                            </li>
                            
                        }
                        <!-- link to the about us page -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">
                                About Us
                            </a>
                        </li>
                        <!-- link to the privacy page -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Privacy Policy
                            </a>
                        </li>
                        
                    </ul>
                    <!-- partial view for login/logout functionality -->
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer with top border and muted text -->
    <footer class="border-top footer text-muted">
        
        <div class="container">
            &copy; 2024 - CMCS -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">All Rights Reserved©</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
